extends layout

block content
  h1= title
  - let landRovers = results;
  div(class="container-fluid mt-3")
  div(class="row")
    each landRover,index in landRovers
      - let destination = `dispatch(\"/landRover/update?id=${landRover._id}\")`
      - let detail = `dispatch(\"/landRover/detail?id=${landRover._id}\")`
      - let del = `dispatch(\"/landRover/delete?id=${landRover._id}\")`
        div(class="col-md-6" onclick=`buy(${index})`) #{landRover.model} - #{landRover.price} - #{landRover.color}
        button.btn( class="btn-success m-1", onclick= destination) Update
        button.btn(class="btn-info m-1", onclick= detail) View
        button.btn(class="btn-danger m-1", onclick= del) Delete
    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
      function dispatch(path)
      {
        window.location.href=path
      }