extends layout

block content
  h1= title
  - let landRovers = results;
  div(class="container-fluid mt-3")
  div(class="row")
    each landRover,index in landRovers
        div(class="col-sm-4" onclick=`buy(${index})`) #{landRover.model} - #{landRover.price} - #{landRover.color}
    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }